@font-face{
    font-family: regular;
    src: url(fonts/Manrope-Regular.ttf);
}
@font-face{
    font-family: logo;
    src: url(fonts/ChailceNogginRegular-2OXoW.ttf);
}

body{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header{
    background: #2A3335;
    height: 65px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: regular;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.header div{
    display: flex;
    align-items: center;
}
.gap15{
    gap: 15px;
}
.header .logo{
    width: 40px;
}
.header h1{
    font-size: 20px;
    color: #F0B21C;
    font-family: logo;
}
.header #catalog{
    outline: none;
    border: 2px solid #F0B21C;
    background: transparent;
    color: #F0B21C;
    height: 40px;
    padding: 10px;
    margin-left: 30px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: .3em;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
}
.header #catalog:hover{
    background: #F0B21C;
    color: #2A3335;
    cursor: pointer;
}
.header #catalog:hover > img{
    content: url(img/grid-hover.svg);
}
.header #catalog > img{
    height: 24px;
}
.header-button{
    width: 28px;
    height: 28px;
    padding: 5px;
    border-radius: .3em;
    cursor: pointer;
}
.header-button:hover{
    background: #4e4e4e;
}
.lang{
    width: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.lang h3{
    color: #eaeaea;
}
.lang .planet{
    width: 24px;
}
.search{
    gap: 0;
    position: relative;
}
.search img{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 10px;
    pointer-events: none;
}
.search-field{
    width: 600px;
    height: 20px;   
    padding: 10px;
    padding-left: 35px;
    padding-right: 18px;
    border: none;
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
    color: #252525;
    font-size: 16px;
}
.search-field:focus{
    outline: none;
    color: #000000;
}
.search button{
    height: 40px;
    margin-left: -3px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: #2A3335;
    font-size: 16px;
    font-weight: 700;
    border-radius: .4em;
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
    background: #ffb404;
    cursor: pointer;
}
.search button:hover{
    background: #ff9f04;
}
.search button img{
    height: 100%;
}